

h2{
    
    text-decoration: underline dotted; /* underline(dotted , dashed) the h2 text or  */
    font-size: 20px;
    font-weight:900;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    color: rgb(255, 0, 255)

}

.classs{
    color: rgb(0, 128, 255);
}


#sss{
    color: rgb(255, 0, 128);

}

h3{
    display: inline;
}

ol{
    /* visibility: hidden; */

    display: none; 

}

.overflow{
    border: solid red 5px;
    width: 300px;
    height: 230px;
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;



}

.container{

    background-color: blue;
    display: flex;
    height: 350px;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    /* justify-content: space-around; */
    /* justify-content: center; */


    align-items: center;
    /* align-items: start; */




    /* justify-content: center; */
/*     
    flex-direction: row;
    flex-wrap: wrap; */

    flex-flow: column wrap;

    /* flex-flow: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* flex-direction: row-reverse; */

    /* flex-direction: column; */
    /* flex-direction: column-reverse; */


}

.child1{
    background-color: aquamarine;
    width: 60px;
    height: 60px;
}


.child2{
    background-color: pink;
    width: 60px;
    height: 60px;
}

.child3{
    background-color: red;
    width: 60px;
    height: 60px;
}




